{% extends '../layouts/base.html' %}
{% load static %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'styles/create_project.css' %}">
{% endblock extra_head %}

{% block content %}
<div class="create-project-container">
  <div class="create-project-title">Crear Proyecto</div>
  <form method="POST">
    {% csrf_token %}
    <label for="name">Nombre del Proyecto:</label>
    <input type="text" id="name" name="name" required>
    <button type="submit">Crear Proyecto</button>
  </form>
  <button style="margin-top:18px;"><a href="{% url 'projects' %}">Volver a Proyectos</a></button>
</div>
{% endblock %}