# Entornos virtuales
.venv/

# Archivos de bytecode de Python
__pycache__/
*.pyc

# Archivos de configuración del editor
.vscode/
.idea/

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos de Qodana
.qodo/
